:root {

    --clr-primary-blue: hsl(246, 80%, 60%);
    --clr-primary-work: hsl(15, 100%, 70%);
    --clr-primary-play: hsl(195, 74%, 62%);
    --clr-primary-study: hsl(348, 100%, 68%);
    --clr-primary-exercice: hsl(145, 58%, 55%);
    --clr-primary-social: hsl(264, 64%, 52%);
    --clr-primary-self-care: hsl(43, 84%, 65%);


    --clr-neutral-200: hsl(236, 100%, 87%);
    --clr-neutral-300: hsl(235, 45%, 61%);
    --clr-neutral-400: hsl(235, 46%, 20%);
    --clr-neutral-500: hsl(226, 43%, 10%);

    --ff-main: "Rubik", sans-serif;

    --fs-titles: 1.125rem;

    --fw-thin: 300;
    --fw-regular: 400;
    --fw-bold: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}